@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html{
    scroll-behavior: smooth;
}


body{
    font-family: Nunito, sans-serif;
    background-color: whitesmoke;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav .logo-container img,
footer .logo-container img{
    width: 80px;
    
}

nav{
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;

}

a:hover{
    color: rgb(44, 168, 44);
}

h5{
    font-size: 20px;
}

li{
    list-style: none;
}

nav{
    position: sticky;
    background-color: white;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav .logo-container,
footer .logo-container{
    display: flex;
    align-items: center;
}

nav .logo-container a,
footer .logo-container a{
    margin-left: 7px;
    font-weight: 800;
    font-size: 20px;
}

nav ul,
footer .top ul{
    display: flex;
    gap: 40px;
}

nav button{
    color: rgb(44, 168, 44);
    background-color: transparent;
    padding: 12px 17px;
    border-radius: 5px;
    border: 1px solid rgb(44, 168, 44);
    cursor: pointer;
    transition: all 0.3s ease;


}

nav button:hover{
    background-color: rgb(44, 168, 44);
    border-color: rgb(44, 168, 44);
    color: white;
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 12px;
}

.home{
    padding: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(211, 209, 209);
}

.home .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.home .left h3{
    margin-top: 10px;
    font-weight: 700;
    font-size: 46px;

}

.home .left h3 span{
    color: rgb(44, 168, 44);
}

.home .left p{
    color: rgb(44, 168, 44);
    font-size: 22px;
    margin-top: 20px;
}

.home .left button{
    margin-top: 40px;
    background-color: rgb(22, 82, 22);
    color: #fff;
    cursor: pointer;
    padding: 14px 25px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.home .right img{
    width: 500px;
    border: none;
    background-color: rgb(211, 209, 209);
    color: rgb(22, 82, 22);

}

.skills{
    padding: 110px 85px 0;
    margin-bottom: 900px;
    

}

.skills h3,
.about .right h3,
.projects .header h3{
    font-size: 40px;
    margin-top: 20px;
}

.skills .skills-items{
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.skills .skills-items .item{
    background-color: #fff;
    width: calc(100%/4);
    border-radius: 10px;
    padding: 30px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: al 0.3s ease;
}

.skills .skills-items .item:hover{
    border-bottom: 4px solid rgb(44, 168, 44);
}

.skills .skills-items .item .icon i{
    color: rgb(22, 82, 22);
    font-size: 24px;
}